<form [formGroup]="informationForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="firstName">Etunimi:</label>
        <input id="firstName" formControlName="firstName" type="text" />
        <div *ngIf="informationForm.get('firstName')?.invalid && (informationForm.get('firstName')?.dirty || informationForm.get('firstName')?.touched)">
          <small *ngIf="informationForm.get('firstName')?.errors?.['required']">Etunimi on pakollinen.</small>
          <small *ngIf="informationForm.get('firstName')?.errors?.['pattern']">Etunimi voi sisältää vain kirjaimia ja viivoja.</small>
        </div>
      </div>
  
    <button type="submit" [disabled]="informationForm.invalid">Lähetä</button>
  </form>