<form [formGroup]="informationForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="firstName">Etunimi:</label>
        <input id="firstName" formControlName="firstName" type="text" />
        <div *ngIf="informationForm.get('firstName')?.invalid && (informationForm.get('firstName')?.dirty || informationForm.get('firstName')?.touched)">
          <small *ngIf="informationForm.get('firstName')?.errors?.['required']">Etunimi on pakollinen.</small>
          <small *ngIf="informationForm.get('firstName')?.errors?.['pattern']">Etunimi voi sisältää vain kirjaimia ja väli-viivan.</small>
        </div>
    </div>

    <div>
        <label for="lastName">Sukunimi:</label>
        <input id="lastName" formControlName="lastName" type="text" />
        <div *ngIf="informationForm.get('lastName')?.invalid && (informationForm.get('lastName')?.dirty || informationForm.get('lastName')?.touched)">
          <small *ngIf="informationForm.get('lastName')?.errors?.['required']">Sukunimi on pakollinen.</small>
          <small *ngIf="informationForm.get('lastName')?.errors?.['pattern']">Sukunimi voi sisältää vain kirjaimia ja väli-viivan.</small>
        </div>
    </div>

    <div>
        <label for="personallIdentityCode">Henkilötunnus:</label>
        <input id="personallIdentityCode" formControlName="personallIdentityCode" type="text" />
        <div *ngIf="informationForm.get('personallIdentityCode')?.invalid && (informationForm.get('personallIdentityCode')?.dirty || informationForm.get('personallIdentityCode')?.touched)">
          <small *ngIf="informationForm.get('personallIdentityCode')?.errors?.['required']">Henkilötunnus on pakollinen.</small>
          <small *ngIf="informationForm.get('personallIdentityCode')?.errors?.['pattern']">Henkilötunnus täytyy olla muodossa: 000000-0000.</small>
        </div>
      </div>

      <div>
        <label for="citizenship">Kansalaisuus:</label>
        <input id="citizenship" formControlName="citizenship" type="text" />
        <div *ngIf="informationForm.get('citizenship')?.invalid && (informationForm.get('citizenship')?.dirty || informationForm.get('citizenship')?.touched)">
          <small *ngIf="informationForm.get('citizenship')?.errors?.['required']">Kansalaisuus on pakollinen.</small>
          <small *ngIf="informationForm.get('citizenship')?.errors?.['pattern']">Kansalaisuus voi sisältää vain kirjaimia.</small>
        </div>
      </div>

      <div>
        <label for="gender">Sukupuoli:</label>
        <select id="gender" formControlName="gender">
          <option value="" disabled selected>Valitse sukupuoli</option>
          <option value="nainen">Nainen</option>
          <option value="mies">Mies</option>
          <option value="muu">Muu</option>
        </select>
        <div *ngIf="informationForm.get('gender')?.invalid && (informationForm.get('gender')?.dirty || informationForm.get('gender')?.touched)">
          <small *ngIf="informationForm.get('gender')?.errors?.['required']">Sukupuoli on pakollinen.</small>
        </div>
      </div>

      <div>
        <label for="email">Sähköposti:</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="informationForm.get('email')?.invalid && (informationForm.get('email')?.dirty || informationForm.get('email')?.touched)">
          <small *ngIf="informationForm.get('email')?.errors?.['required']">Sähköposti on pakollinen.</small>
          <small *ngIf="informationForm.get('email')?.errors?.['email']">Syötä kelvollinen sähköpostiosoite.</small>
        </div>
      </div>  
  
    <button type="submit" [disabled]="informationForm.invalid">Lähetä</button>
  </form>