<div class="content">
  <h1>{{ t.headers.editInformation }}</h1>

  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <h2>{{ t.headers.additionalHeaders.editInformation }}</h2>
    <div class="input">
      <app-input
        [label]="t.userInformation.personalIdentityCode"
        [control]="$any(searchForm.get('personalIdentityCode'))"
        [errorMessageRequired]="t.userInformation.personalIdentityCode + t.errorMessages.mandatory"
        [errorMessagePattern]="t.userInformation.personalIdentityCode + t.errorMessages.identityCodeForm"
        [type]="'text'"
    ></app-input>
    </div>
    
    <div class="button">
        <app-button
          [disabled]="searchForm.invalid"
          [buttonText]="t.button.search "
          [message]="errorMessage"
          [type]="'submit'"
        ></app-button>
    </div>
  </form>

  <form *ngIf="showForm" [formGroup]="informationForm" (ngSubmit)="onSubmit()">
    <div class="input">
      <app-input
      [label]="t.userInformation.firstName"
      [control]="$any(informationForm.get('firstName'))"
      [errorMessageRequired]="t.userInformation.firstName + t.errorMessages.mandatory"
      [errorMessagePattern]="t.userInformation.firstName + t.errorMessages.nameForm"
      [type]="'text'"
    ></app-input>

    <app-input
      [label]="t.userInformation.lastName"
      [control]="$any(informationForm.get('lastName'))"
      [errorMessageRequired]="t.userInformation.lastName +t.errorMessages.mandatory"
      [errorMessagePattern]="t.userInformation.lastName +t.errorMessages.nameForm"
      [type]="'text'"
    ></app-input>

    <app-input
      [label]="t.userInformation.personalIdentityCode"
      [control]="$any(informationForm.get('personalIdentityCode'))"
      [errorMessageRequired]="t.userInformation.personalIdentityCode +t.errorMessages.mandatory"
      [errorMessagePattern]="t.userInformation.personalIdentityCode +t.errorMessages.identityCodeForm"
      [type]="'text'"
    ></app-input>

    <app-input
      [label]="t.userInformation.citizenship"
      [control]="$any(informationForm.get('citizenship'))"
      [errorMessageRequired]="t.userInformation.citizenship +t.errorMessages.mandatory"
      [errorMessagePattern]="t.userInformation.citizenship +t.errorMessages.lettersOnly"
      [type]="'text'"
    ></app-input>  

      <mat-form-field class="inputField">
        <mat-label for="gender">{{ t.userInformation.gender }}</mat-label>
        <mat-select id="gender" formControlName="gender">
          <mat-option value="" disabled selected>{{
            t.headers.additionalHeaders.chooseGender
          }}</mat-option>
          <mat-option value="nainen">{{
            t.userInformation.genderWoman
          }}</mat-option>
          <mat-option value="mies">{{ t.userInformation.genderMan }}</mat-option>
          <mat-option value="muu">{{ t.userInformation.genderOther }}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            informationForm.get('gender')?.invalid &&
            (informationForm.get('gender')?.dirty ||
              informationForm.get('gender')?.touched)
          "
        >
          <ng-container
            *ngIf="informationForm.get('gender')?.errors?.['required']"
          >
            {{ t.userInformation.gender }}{{ t.errorMessages.mandatory }}
          </ng-container>
        </mat-error>
      </mat-form-field>

      <app-input
      [label]="t.userInformation.email"
      [control]="$any(informationForm.get('email'))"
      [errorMessageRequired]="t.userInformation.email +t.errorMessages.mandatory"
      [errorMessagePattern]="t.userInformation.email +t.errorMessages.emailForm"
      [type]="'email'"
    ></app-input>

    <app-input
      [label]="t.userInformation.phoneNumber"
      [control]="$any(informationForm.get('phoneNumber'))"
      [errorMessageRequired]="t.userInformation.phoneNumber +t.errorMessages.mandatory"
      [errorMessagePattern]="t.userInformation.phoneNumber +t.errorMessages.phoneNumberForm"
      [type]="'text'"
    ></app-input>

    <app-input
      [label]="t.userInformation.streetAddress"
      [control]="$any(informationForm.get('streetAddress'))"
      [errorMessageRequired]="t.userInformation.streetAddress +t.errorMessages.mandatory"
      [type]="'text'"
    ></app-input>

    <app-input
      [label]="t.userInformation.city"
      [control]="$any(informationForm.get('city'))"
      [errorMessageRequired]="t.userInformation.city +t.errorMessages.mandatory"
      [errorMessagePattern]="t.userInformation.city +t.errorMessages.lettersOnly"
      [type]="'text'"
    ></app-input>

    <app-input
      [label]="t.userInformation.postalCode"
      [control]="$any(informationForm.get('postalCode'))"
      [errorMessageRequired]="t.userInformation.postalCode +t.errorMessages.mandatory"
      [errorMessagePattern]="t.userInformation.postalCode +t.errorMessages.inputLength"
      [type]="'text'"
    ></app-input>
  </div>

  <div class="button">
    <app-button
      [disabled]="informationForm.invalid"
      [buttonText]="t.button.save "
      [message]="errorMessage"
      [type]="'submit'"
    ></app-button>
  </div>
  </form>
</div>
