<div class="content">
  <h1>{{ t.headers.deleteInformation }}</h1>

  <form [formGroup]="deleteForm" (ngSubmit)="onDelete()">
    <h2>{{ t.headers.additionalHeaders.deleteInformation }}</h2>
    <div class="input">
      <app-input
        [label]="t.userInformation.personalIdentityCode"
        [control]="$any(deleteForm.get('personalIdentityCode'))"
        [errorMessageRequired]="t.userInformation.personalIdentityCode + t.errorMessages.mandatory"
        [errorMessagePattern]="t.userInformation.personalIdentityCode + t.errorMessages.identityCodeForm"
        [type]="'text'"
    ></app-input>
    </div>

    <div class="button">
      <app-button
        [disabled]="deleteForm.invalid"
        [buttonText]="t.button.delete"
        [message]="message"
        [type]="'submit'"
      ></app-button>
    </div>
  </form>
</div>
