<div class="content">
  <h1>{{ t.headers.showInformation }}</h1>

  <form [formGroup]="showInfoForm" (ngSubmit)="onSearch()">
    <h2>{{ t.headers.additionalHeaders.showInformation }}</h2>
    
    <div class="input">
      <app-input
        [label]="t.userInformation.personalIdentityCode"
        [control]="$any(showInfoForm.get('personalIdentityCode'))"
        [errorMessageRequired]="t.userInformation.personalIdentityCode + t.errorMessages.mandatory"
        [errorMessagePattern]="t.userInformation.personalIdentityCode + t.errorMessages.identityCodeForm"
        [type]="'text'"
    ></app-input>
    </div>

    <div class="button">
    <app-button
      [disabled]="showInfoForm.invalid"
      [buttonText]="t.button.search "
      [message]="errorMessage"
      [type]="'submit'"
    ></app-button>
    </div>

    <div *ngIf="user" class="mat-elevation-z8">
      <table mat-table [dataSource]="userData" class="mat-table">
        
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef class="label"></th>
          <td mat-cell *matCellDef="let element" class="label" >{{ element.label }}</td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </form>
</div>
