
<div class="content">
  <h1>{{t.headers.showInformation}}</h1>

  <div class="personInformationForm">
    <h2>{{t.headers.additionalHeaders.showInformation}}</h2>

      <label for="personalIdentityCode">{{t.userInformation.personalIdentityCode}}</label>
      <input id="personalIdentityCode" [(ngModel)]="personalIdentityCode" type="text" />
      <button (click)="onSearch()">{{t.button.send}}</button>
      <small *ngIf="errorMessage" class="error-message">{{ errorMessage }}</small>
      
      <div *ngIf="user">
        <table>
          <thead>
            <tr>
              <th>{{t.userInformation.firstName}}</th>
              <th>{{t.userInformation.lastName}}</th>
              <th>{{t.userInformation.personalIdentityCode}}</th>
              <th>{{t.userInformation.citizenship}}</th>
              <th>{{t.userInformation.gender}}</th>
              <th>{{t.userInformation.email}}</th>
              <th>{{t.userInformation.phoneNumber}}</th>
              <th>{{t.userInformation.streetAddress}}</th>
              <th>{{t.userInformation.city}}</th>
              <th>{{t.userInformation.postalCode}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>{{ user.basicInformation.firstName }}</td>
                <td>{{ user.basicInformation.surname }}</td>
                <td>{{ user.basicInformation.personalIdentityCode }}</td>
                <td>{{ user.basicInformation.citizenship }}</td>
                <td>{{ user.basicInformation.gender }}</td>
                <td>{{ user.contactInformation.email }}</td>
                <td>{{ user.contactInformation.phoneNumber }}</td>
                <td>{{ user.contactInformation.streetAddress }}</td>
                <td>{{ user.contactInformation.city }}</td>
                <td>{{ user.contactInformation.postalCode }}</td>
            </tr>
          </tbody>
        </table>
      </div>    
  </div>
</div>
