<main class="main">
  <div class="content">
  <div class="heade">
    <h1>Henkilötietosovellus</h1>
  </div>
    <div class="navigation">
      <button mat-raised-button [routerLink]="['/add-information']">Lisää Henkilötietoja</button>
      <button mat-raised-button [routerLink]="['/show-information']">Näytä Henkilön tiedot</button>
      <button mat-raised-button [routerLink]="['/show-informations']">Näytä henkilötiedot</button>
      <button mat-raised-button [routerLink]="['/edit-information']">Muokkaa</button>
      <button mat-raised-button [routerLink]="['/delete-information']">Poista</button>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>


<router-outlet />
