<main class="main">
  <div class="content">
    <div class="heade">
      <h1>{{ t.headers.mainHeader }}</h1>
    </div>
    <div class="navigation">
      <button mat-raised-button [routerLink]="['/add-information']">
        {{t.navigation.add}}
      </button>
      <button mat-raised-button [routerLink]="['/edit-information']">
        {{t.navigation.edit}}
      </button>
      <button mat-raised-button [routerLink]="['/delete-information']">
        {{t.navigation.delete}}
      </button>
      <button mat-raised-button [routerLink]="['/show-informations']">
        {{t.navigation.showInformations}}
      </button>
      <button mat-raised-button [routerLink]="['/show-information']">
        {{t.navigation.showInformation}}
      </button>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<router-outlet />
